@mixin flex($display: flex, $justify: false, $align: false, $direction: false) {
  display: $display;

  @if $justify { justify-content: $justify; }
  @if $align { align-items: $align; }
  @if $direction { flex-direction: $direction; }
}

@mixin rect($w: false, $h: false, $r: false, $bg: false) {
  @if $w { width: $w; }
  @if $h { height: $h; }
  @if $r { border-radius: $r; }
  @if $bg { background: $bg; }
}

@mixin position($position, $t: false, $r: false, $b: false, $l: false, $z: false) {
  position: $position;

  @if $t { top: $t; }
  @if $r { right: $r; }
  @if $b { bottom: $b; }
  @if $l { left: $l; }
  @if $z { z-index: $z; }
}

@mixin text($size: false, $weight: false, $align: false) {
  @if $size { font-size: $size; }
  @if $weight { font-weight: $weight; }
  @if $align { text-align: $align; }
}

@mixin hover() {
  transition: all 0.15s ease-in-out;

  @media screen and (min-width: 1024px) {
    &:hover { @content; }
  }
}

@mixin background($bg: inherit, $hover-bg: inherit) {
  @include hover() { background: $hover-bg; }
  background: $bg;
}

@mixin expandAnimation() {
  &.expand-enter-active,
  &.expand-leave-active { transition: height 0.4s ease-in-out; }
  &.expand-enter-from,
  &.expand-leave-to { height: 0; }
}

@mixin scrollReset() {
  overflow-y: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar { display: none }
}

@mixin media($type) {
  @if $type == landscapeShort {
    @media screen and
    (orientation: landscape) and
    (max-height: 768px) and
    (min-width: 634px) and
    (max-width: 1024px) { @content; }
  }
}