html { font-size: 16px; }

body {
  min-height: 100vh;
  color: var(--c-text);
  background: var(--c-background);
  font-family: 'Barlow Semi Condensed', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 1em;
  font-weight: normal;
}

ul,
ol { list-style: none; }

a { text-decoration: none; }

button {
  background: none;
  border: none;
  color: var(--c-text);
}

button,
a,
input,
textarea { outline: none; }

input,
textarea {
  padding: 0.5em;
  border: none;
  border-radius: 0.25em;
  background: var(--c-input-bg);
  color: var(--c-input);
}